<div dojoAttachPoint="domNode" class="toolbar">
	<table cellpadding="0" cellspacing="0" align="left" width="150px" height="100%">
		<tr>
		<td>
 		<img id="toolbar_display_menu" 
 			class="toolbar_icon" 
 			tabindex="0" 
			src="./rmc/widget/images/toolbar/dropdown.gif"
			title="${this.text_toolbar_display_menu}"
			alt="${this.text_toolbar_display_menu}"
			dojoAttachEvent="onclick: onButtonClick; onkeypress: onButtonKeyPress"/>
		</td>
		<td class="toolbar_divider">
 		<img class="toolbar_divider" id="toolbar_display_menu_divider"
			src="./rmc/widget/images/divider.gif"/>

		</td>
		<td dojoAttachPoint="glossaryNode">
		<img id="toolbar_show_glossary" 
			class="toolbar_icon" 
			tabindex="0" 
			src="./rmc/widget/images/toolbar/glossary.gif"
			title="${this.text_toolbar_show_glossary}"
			alt="${this.text_toolbar_show_glossary}"
			dojoAttachEvent="onclick: onButtonClick; onkeypress: onButtonKeyPress"/>
		</td>
		<td dojoAttachPoint="indexNode">
		<img id="toolbar_show_index" 
			class="toolbar_icon" 
			tabindex="0" 
			src="./rmc/widget/images/toolbar/index.gif"
			title="${this.text_toolbar_show_index}"
			alt="${this.text_toolbar_show_index}"
			dojoAttachEvent="onclick: onButtonClick; onkeypress: onButtonKeyPress"/>
		</td>
		<td>
		<img id="toolbar_synchronize" 
			class="toolbar_icon" 
			tabindex="0" 
			src="./rmc/widget/images/toolbar/sync.gif"
			title="${this.text_toolbar_synchronize}"
			alt="${this.text_toolbar_synchronize}"
			dojoAttachEvent="onclick: onButtonClick; onkeypress: onButtonKeyPress"/>
		</td>
		<td>
		<img id="toolbar_send_email" 
			class="toolbar_icon" 
			tabindex="0" 
			src="./rmc/widget/images/toolbar/feedback.gif"
			title="${this.text_toolbar_send_email}"
			alt="${this.text_toolbar_send_email}"
			dojoAttachEvent="onclick: onButtonClick; onkeypress: onButtonKeyPress"/>
		</td>
		<td>
		<img id="toolbar_show_info" 
			class="toolbar_icon" 
			tabindex="0" 
			src="./rmc/widget/images/toolbar/about.gif"
			title="${this.text_toolbar_show_info}"
			alt="${this.text_toolbar_show_info}"
			dojoAttachEvent="onclick: onButtonClick; onkeypress: onButtonKeyPress"/>
		</td>
		</tr>
	</table>
</div>


